services:
  - type: web
    name: evolution-api
    env: docker
    plan: free
    region: oregon
    
    # Render usará el archivo "Dockerfile" que acabamos de crear
    # para descargar la imagen oficial.
    
    envVars:
      # --- CONFIGURACIÓN BÁSICA ---
      - key: SERVER_PORT
        value: 8080
      - key: SERVER_URL
        sync: false # Render te pedirá esto o lo llenará solo
      - key: AUTHENTICATION_API_KEY
        value: "clave"
      - key: DEL_INSTANCE
        value: "false"
        
      # --- OPTIMIZACIÓN PLAN GRATUITO ---
      - key: LOG_LEVEL
        value: "error" # Menos logs = menos consumo de CPU
        
      # --- PERSISTENCIA (CRÍTICO PARA WHATSAPP) ---
      # En el plan gratuito, si no conectas una base de datos, 
      # PERDERÁS LA CONEXIÓN (QR) cada vez que la app se reinicie (diariamente).
      # Crea una cuenta gratuita en MongoDB Atlas y pon la URL aquí:
      
       - key: DATABASE_ENABLED
         value: "true"
       - key: DATABASE_CONNECTION_URI
         value: "mongodb+srv://delvis4dev_db:Supplydepot26.@imperiouscluster.bji3j1f.mongodb.net/"
       - key: DATABASE_PROVIDER
         value: "mongodb"
      
      # Desactiva Redis para ahorrar memoria (usará memoria interna)
      - key: CACHE_REDIS_ENABLED
        value: "false"

    healthCheckPath: /
    autoDeploy: false
